#div {
    height: 70vh;
    width: 28vw;
    /* background-color: skyblue; */
    background: linear-gradient(blue, lightblue);
    margin: 15vh;
    border: none;
}

#div input {
    width: 100%;
    border:  1px solid transparent;
}

#div input:focus {
    outline: none;
}


#div button {
    width: 60px;
    border-radius: 100%;
    height: 50px;

}

.icon i {
    font-size: 50px;
}

.main {
    background-image: url(https://climbingkilimanjaro.info/wp-content/uploads/2024/04/tallest-mountains-in-australia-mL.jpeg);
    background-size: cover;
    background-position: top;
}

@media (max-width:576px) {
    #div {
        height: 80vh;
        width: 100%;
    }
}